
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Container for all “slides” */
.slider {
  display: flex;
  overflow-x: auto;            /* enable horizontal scroll */ 
  scroll-snap-type: x mandatory;/* lock scroll to each child */ 
  -webkit-overflow-scrolling: touch;
}

/* Each slide = full viewport */
.slide {
  flex: 0 0 100vw;             /* 100% of viewport width */ 
  height: 100vh;               /* full viewport height */ 
  scroll-snap-align: start;    /* snap here */ 
  position: relative;          /* for positioning arrows */ 
}
